a:hover{
  text-decoration: none;
}
section{
    margin-bottom: 30px;
}
section li{
    border-radius: 25px;
    padding: 15px;
    margin-bottom: 20px;
    list-style: none;
    background: #ada996; 
    background: -webkit-linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea); 
    background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea); 
}
.scrolllTop{
  position: fixed;
  display: none;
  left: 90%;
  top: 90%;
  width:40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  z-index: 100;
  cursor: pointer;
}

.redClass{
    border: 1px solid red;
    border-radius: 5px;
}

.greenClass{
    border: 1px solid green;
    border-radius: 5px;

}

h1, h2, h3, h4{
  font-family: 'Ranchers', cursive;
}

p{
  font-size: 24px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.nav-link{
  font-family: 'Lobster', cursive;
  /* font-size: 15px !important; */
}
.nav-item{
  /* line-height: 20px !important; */
}



.navbar-left-btn{
  position: fixed;
  width: 50px;
  height: 80px;
  top:50%;
  left:0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.navbar-left-btn span{
  font-size: 50px;
}

.navbar-left{
  position: fixed;
  display: none;
  height: 100vh;
  padding: 20px;
  left:0;
  background-color:black;
  z-index: 2;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav-item a{
  font-size: 15px !important;
  padding: 5px 0 !important;
}
.active{
  color:yellow;
}

/* Анимационные еффекты-------------------------------------------------------------- */

/* slider */
.slider-wrap{
    position: relative;
    left:0;
    top: 0;
    width: 10000000px;  
}

.slider-item{
    width: 320px;
    padding: 10px;
    float: left;
}

.clear{
    clear: both;
}
.slider{
    width: 320px;
    overflow: hidden;
}

/* Ajax---------------------------------------------------------- */

/* Spiner loading */
.lds-roller {
    /* display: inline-block; */
    display: none;
    position: relative;
    width: 80px;
    height: 80px;
    left: 50%;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  /* Spiner loading end*/
  