section{
    background-color: rgb(221, 218, 218);
    padding: 10px;
    margin-bottom: 30px;
}

.redClass{
    border: 1px solid red;
}

.greenClass{
    border: 1px solid green;
}

li{
    margin-bottom: 50px;
}
/* Анимационные еффекты-------------------------------------------------------------- */

/* slider */
.slider-wrap{
    position: relative;
    left:0;
    top: 0;
    width: 10000000px;  
}

.slider-item{
    width: 320px;
    padding: 10px;
    float: left;
}

.clear{
    clear: both;
}
.slider{
    width: 320px;
    overflow: hidden;
}